<html>
	<head>
		<title> Demo app </title>
	</head>
<body>
	

<h1> Error 404... Page not found </h1>

<img src = " https://media.istockphoto.com/photos/senior-man-shrugging-shoulders-picture-id91520053?k=6&m=91520053&s=612x612&w=0&h=u9RpYe4vuri0ll2HC0cl4OYIcbT0y0un-qw5ePPjffc=">

<%- include("partials/footer") %>
	
	