<%- include("partials/header") %>

<h1> This is the home page </h1>

<img src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2019/05/joseph-barrientos-49318-unsplash-e1558728034701.jpg?resize=1500%2C1000&ssl=1"> 

<%- include("partials/footer") %>